<!-- Menu de navigation -->
<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <a href="/" class="text-white text-lg font-bold">
            Sellemaster
        </a>
        
        <!-- Liens de navigation -->
        <div class="flex space-x-4">
            <a href="/home" class="text-gray-300 hover:text-white">Accueil</a>
            <a href="{{ path('app_equipment') }}" class="text-gray-300 hover:text-white">Inventaire</a>
            <a href="/categories" class="text-gray-300 hover:text-white">Catégories</a>
            <a href="/contact" class="text-gray-300 hover:text-white">Contact</a>
        </div>
        
        <!-- Boutons d'utilisateur (Connexion/Déconnexion) -->
        <div class="flex items-center space-x-4">
            {% if app.user %}
                <!-- Affiche le bouton de déconnexion si l'utilisateur est connecté -->
                <a href="{{ path('app_logout') }}" class="text-gray-300 hover:text-white font-medium">Déconnexion</a>
            {% else %}
                <!-- Affiche les boutons de connexion et d'inscription si l'utilisateur n'est pas connecté -->
                <a href="{{ path('app_login') }}" class="text-gray-300 hover:text-white font-medium">Connexion</a>
                <a href="{{ path('app_register') }}" class="text-gray-300 hover:text-white font-medium">Inscription</a>
            {% endif %}
        </div>

        
        <!-- Bouton mobile -->
        <div class="md:hidden">
            <button id="menu-button" class="text-gray-300 hover:text-white focus:outline-none">
                <!-- Icône de menu pour les mobiles -->
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>
</nav>
